<div class="main-container">
  <div
    fxLayout="column"
    fxLayoutGap="12px"
    fxLayoutAlign="space-around center"
    class="main-container-content"
  >
    <div>Algoritmo genético para maximização de funções</div>
    <div>
      <form action="" fxLayout="column" fxLayoutGap="8px">
        <input
          type="tel"
          name="chromo"
          placeholder="Tamanho do cromossomo"
          [(ngModel)]="chromoSize"
        />
        <input
          type="tel"
          name="pop"
          placeholder="Tamanho da população"
          [(ngModel)]="popSize"
        />
        <input
          type="tel"
          name="crossing"
          placeholder="Probabilidade de cruzamento"
          [(ngModel)]="probCrossing"
        />
        <input
          type="tel"
          name="mutatuin"
          placeholder="Probabilidade de mutação"
          [(ngModel)]="probMutation"
        />
        <input
          type="tel"
          name="countGeneration"
          placeholder="Quantidade de gerações"
          [(ngModel)]="countGenerations"
        />
        <label for="">
          <input
            type="radio"
            name="roulette"
            placeholder="Roleta"
            [checked]="method == 1"
            (change)="onSelectionMethodChange(1)"
          />
          <span>Roleta</span>
        </label>
        <label for="">
          <input
            type="radio"
            name="sortition"
            placeholder="Sorteio"
            [checked]="method == 2"
            (change)="onSelectionMethodChange(2)"
          />
          <span>Sorteio</span>
        </label>
        <button type="submit" (click)="runAg()">Executar AG</button>
      </form>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayoutGap="20px"
    fxLayoutAlign="center center"
    *ngIf="binaryPopulation.length !== 0"
  >
    <div>
      <label for="">Geração</label>
      <div *ngFor="let item of generations.binaryPopulations; let i = index">
        {{ i }}
      </div>
    </div>
    <div>
      <label for="">população(individuos) </label>
      <div *ngFor="let item of generations.binaryPopulations; let i = index">
        {{ item }}
      </div>
    </div>
    <div>
      <label for="">Binário p/ real</label>
      <div *ngFor="let item of generations.realPopulations">
        {{ item }}
      </div>
    </div>
    <div>
      <label for="">F(x)</label>
      <div *ngFor="let item of generations.fxs">
        {{ item }}
      </div>
    </div>
    <div>
      <label for="">Escala de aptidão</label>
      <div *ngFor="let item of generations.scales">
        {{ item }}
      </div>
    </div>
  </div>
</div>
